<!DOCTYPE html>
<html>
    <head>
        <title>Date Calculator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/custom.css" type="text/css">
        
    </head>
    <body>
        <div class="container">
            <h1>Date Calculator</h1>
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <div class="main">
                <div class="sub">
                    <h3>Age</h3>
                    <form action="/age" method="POST">
                        <div class="form-group">
                            <input type="date" name="date" class="form-control" placeholder="DOB" id="age_date" required>
                        </div>
                        <button>Submit</button>
                    </form>
                    <% if(obj.input.Date != ""){ %>
                    <div>
                        <%= obj.output.Year %> Years, <%= obj.output.Month %> Month, <%= obj.output.Days %> Days %>
                    </div>
                    <% } %>
                </div>
                <div class="sub">
                        <h3>Add Days</h3>
                        <form action="/adddays" method="POST">
                            <div class="form-group">
                                <input type="date" name="date" class="form-control" placeholder="DOB" id="adddays_date" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="days" class="form-control" placeholder="Days" id="adddays_days" required>
                            </div>
                            <button>Submit</button>
                        </form>
                        <% if(obj.input.Date!="" && obj.input.Days!=""){ %>
                            <div>New Date: <%= obj.output.Date%></div>
                        <% } %>
                    </div>
                <div class="sub">
                    <h3>Reverse Age</h3>
                    <form action="/rage" method="POST">
                        <div class="form-group">
                            <input type="text" name="year" class="form-control" placeholder="Year" id="rage_year" required>
                        </div>
                        <div class="form-group">
                            <select required name="month" class="form-control">
                                <option value="">- Month -</option>
                                <% for(var i = 0 ; i <= 12; i++){ %>
                                    <option value="<%= i %>"><%= i %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <select required name="day" class="form-control">
                                <option value="">- Day -</option>
                                <% for(var i = 0 ; i <= 31; i++){ %>
                                    <option value="<%= i %>"><%= i %></option>
                                <% } %>
                            </select>
                        </div>
                        <button>Submit</button>
                    </form>
                    <% if(obj.input.Year!="" && obj.input.Month!="" && obj.input.Days!=""){ %>
                        <div>DOB: <%= obj.output.Date%></div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>